@model CitasBufete.Models.Cita

@{
    ViewData["Title"] = "Agendar Cita";
}

<h1>Create</h1>

<h4>Agendar Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Especialidad" class="control-label"></label></br>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Laboral", Value = "Laboral" },
                       new SelectListItem{ Text="Penal", Value = "Penal" },
                       new SelectListItem{ Text="Familia", Value = "Familia" },
                       new SelectListItem{ Text="Civil", Value = "Civil" },
                       new SelectListItem{ Text="Comercio", Value = "Comercio" },
                       new SelectListItem{ Text="Notariado", Value = "Notariado" },
                    };
                }

                @Html.DropDownListFor(model => model.Especialidad, listItems, "Seleccione")
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div></br>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div></br>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label></br>
                @{
                    List<SelectListItem> listHours = new List<SelectListItem>
                    {
                       new SelectListItem{ Text="8:00", Value = "8:00" },
                       new SelectListItem{ Text="9:00", Value = "9:00" },
                       new SelectListItem{ Text="10:00", Value = "10:00" },
                       new SelectListItem{ Text="11:00", Value = "11:00" },
                       new SelectListItem{ Text="13:00", Value = "13:00" },
                       new SelectListItem{ Text="14:00", Value = "14:00" },
                       new SelectListItem{ Text="15:00", Value = "15:00" },
                       new SelectListItem{ Text="16:00", Value = "16:00" },
                    };
                }

                @Html.DropDownListFor(model => model.Hora, listHours, "Seleccione")
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div></br>
            <div class="form-group">
                <input type="submit" value="Agendar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div></br>

<div>
    <a asp-controller="Clientes" asp-action="CitasCliente">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
