@model CitasBufete.Models.Cita

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id_cliente" class="control-label"></label>
                <input asp-for="Id_cliente" class="form-control" />
                <span asp-validation-for="Id_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_cliente" class="control-label"></label>
                <input asp-for="Nombre_cliente" class="form-control" />
                <span asp-validation-for="Nombre_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidad" class="control-label"></label>
                <input asp-for="Especialidad" class="form-control" />
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div></br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div></br>

<div>
    <a asp-controller="Clientes" asp-action="CitasCliente">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
